$strong-cyan: rgb(38, 192, 171);
$dark-cyan: rgb(0, 73, 77);
$grayish-cyan1: rgb(94, 122, 125);
$grayish-cyan2: rgb(127, 156, 159);
$light-cyan1: rgb(197, 228, 231);
$light-cyan2: rgb(244, 250, 250);
$white: rgb(255, 255, 255);

$input-font-size: 24px;
$font-family: "Space Mono", monospace;

$breakpoint: 800px;
